body, html, #root {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Nie centrować, zaczynać od góry */
  min-height: 100vh; /* Minimalna wysokość na całe okno */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Uniknięcie przewijania w poziomie */
}

table, tr, td, th {
  page-break-inside: avoid !important;
}

/* Zapewnia odstęp od górnej belki */
.app-container {
  flex: 1;
  padding-top: 70px; /* Dostosuj do wysokości navbaru */
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie przycisku */
}

/* Przycisk "Stwórz Fakturę" na środku */
.table-container {
  width: 60%; /* 60% szerokości ekranu */
  margin: 20px auto; /* Wyśrodkowanie tabeli */
  padding: 20px;
}

.create-invoice-button {
  display: block; /* Przywrócenie przycisku */
  margin: 10px auto; /* Wyśrodkowanie */
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#invoice-pdf {
  width: 100%; /* Dynamiczna szerokość */
  max-width: 210mm; /* Upewnia się, że nie przekroczy A4 */
  box-sizing: border-box; /* Uwzględnia padding i border */
}

#invoice-pdf table {
  width: 100%; /* Wymusza szerokość tabeli zgodną z kontenerem */
  max-width: 100%;
  border-collapse: collapse; /* Zapobiega dziwnym marginesom między komórkami */
}

#invoice-pdf td, #invoice-pdf th {
  white-space: nowrap; /* Zapobiega zawijaniu się tekstu */
  padding: 5px;
}
.invoice-container {
  overflow-x: auto;
  display: block; /* Zapewnia przewijanie na mniejszych ekranach */
}


